<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ezhilarasan's Portfolio</title>
</head>
<body>
    <!doctype html>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Portfolio Website</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <style>
            
            #heading-pic{
              width: 30%;
              border-radius: 100%;
            
            }
      </style>
      </head>
      <body>



<!-- Nav Bar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary" id="mainNav">
  <div class="container px-4 px-lg-8">
    <span  style="font-size: xx-large; font-weight: bold;" class="navbar-brand">
      <img id="heading-pic" src="static/images/portfolio.png" alt="portfolio"> EJ
    </span>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto py-4 py-lg-0">
        <li class="nav-item">
          <a style="color: white; font-weight: bold; font-size: large;" class="nav-link px-lg-3 py-3 py-lg-4" href="{{url_for('index')}}">HOME📁</a>
        </li>
        <li class="nav-item">
          <a style="color: white; font-weight: bold;font-size: large;"  class="nav-link px-lg-3 py-3 py-lg-4" href="{{url_for('about')}}">ABOUT📰</a>
        </li>
        <li class="nav-item">
          <a style="color: white; font-weight: bold;font-size: large;" class="nav-link px-lg-3 py-3 py-lg-4" href="{{url_for('contact')}}">CONTACT☎️</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    
    
    <!-- Contact -->
     
    <div class=" ">
         <embed src="https://ejezhil.github.io/Images-for-Portfolio/EZHILARASAN%20A%20RESUME.pdf" type="application/pdf" height="1000vh" width="700vh"></embed>
      </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    
    </body>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-8 border-top">
          <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
              <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">©{{year}} Ezhilarasan A</span>
          </div>
      
          <ul class="nav col-md-3 justify-content-end list-unstyled d-flex">
            <li class="m-2">
              <a href="https://github.com/EJezhil/"><img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="GitHub" width="60"  class="rounded-circle border border-white">
              </a>
              <a href="https://www.instagram.com/ej._65/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/1200px-Instagram_logo_2022.svg.png" alt="instagram" width="50"  class="rounded-circle border border-white">
              </a>  
              <a href="https://in.linkedin.com/in/ezhilarasan-a-9931b5224"> <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="55" height="55" viewBox="0 0 48 48">
                <path fill="#0288D1" d="M42,37c0,2.762-2.238,5-5,5H11c-2.761,0-5-2.238-5-5V11c0-2.762,2.239-5,5-5h26c2.762,0,5,2.238,5,5V37z"></path><path fill="#FFF" d="M12 19H17V36H12zM14.485 17h-.028C12.965 17 12 15.888 12 14.499 12 13.08 12.995 12 14.514 12c1.521 0 2.458 1.08 2.486 2.499C17 15.887 16.035 17 14.485 17zM36 36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698-1.501 0-2.313 1.012-2.707 1.99C24.957 25.543 25 26.511 25 27v9h-5V19h5v2.616C25.721 20.5 26.85 19 29.738 19c3.578 0 6.261 2.25 6.261 7.274L36 36 36 36z"></path>
                </svg> 
              </a> 
            </li> 
            </ul>
        </footer>
    </div>
    </html>
</html>